/* Prevent all focus effects */
:focus {
  outline: none;
}

/* Improve text rendering */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Set default dimensions and scrollbars */
html {
  width: calc(100vw - (100vw - 100%));
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
}

/* Utility to disable user interactions */
[disabled] {
  user-select: none !important;
  pointer-events: none !important;
}
